# dependencies
/node_modules

# testing
/coverage

# next
/.next
/out

# production
/build

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# debug
npm-debug.log*

# misc
*.drawio